
* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

pre * {
	font-family: inherit;
}

html, body {
	margin: 0;
	padding: 0;
	background: #fff;
}

a {
	color: #ecaa0f;
	text-decoration: none;
}

p {
	font-size: 16px;
	line-height: 1.5;
}

header {
	padding: 15px 25px;
	border-bottom: 1px #ccc solid;
	background: #fff;
}

@media (min-width: 800px) {
	html, body {
		height: 100%;
		overflow: hidden;
	}

	header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	}

	.content-wrapper {
		height: calc(100% - 100px);
		overflow: auto;
		margin-top: 100px;
		padding-top: 50px;
	}

	.body {
	}

	pre[class*='language-'] {
		margin-top: 50px !important;
		margin-bottom: 50px !important;
	}
}

header h1 {
	color: #666;
	font-size: 48px;
	font-weight: 300;
	margin: 0;
}

header h1 > a {
	color: #9768b9;
}

header h1 small {
	font-size: 16px;
	font-weight: 500;
}

header > small {
	color: #aaa;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	margin-left: 50px;
}

header small .latin {
	font-weight: 700;
}

header p {
	color: #666;
	font-size: 20px;
	margin-left: 50px;
}

.body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 50px;
	width: 100%;
}

nav {
	width: 250px;
	margin-right: 50px;
}

nav ul {
	list-style: none;
	padding-left: 25px;
	margin-bottom: 50px;
}

nav li {
	margin-bottom: 10px;
}

main {
	flex: 0 0 calc(100% - 300px);
}

main section {
	padding-bottom: 50px;
}

nav h2,
main section h2 {
	font-weight: 500;
}

main section h3 {
	color: #666;
	font-weight: 700;
}

main section > :not(h2) {
	margin-left: 25px !important;
}

pre[class*='language-'] {
	border: 1px #ddd solid;
}

pre.inline {
	display: inline-block;
}

p code,
dd code {
	color: #0077aa;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

dl {
	/*  */
}

dl dt {
	margin-top: 25px;
}

dl dd {
	color: #444;
	font-size: 14px;
	margin: 10px 0 0 25px;
}

footer {
	text-align: center;
	margin: 200px 0 25px;
}

footer p {
	color: #888;
	font-size: 12px;
	margin: 5px;
}

@media (max-width: 600px) {
	header {
		padding: 25px;
	}

	header small,
	header p {
		margin-left: 25px;
	}

	.body {
		padding: 0 25px;
	}

	nav,
	main {
		width: 100%;
		flex: 0 0 100%;
	}

	pre {
		font-size: 12px;
	}

	main section > :not(h2) {
		margin-left: 10px !important;
	}
}
