
* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

pre * {
	font-family: inherit;
}

html, body {
	margin: 0;
	padding: 0;
	background: #fff;
}

a {
	color: #ecaa0f;
	text-decoration: none;
}

p {
	font-size: 16px;
	line-height: 1.5;
}

header {
	padding: 100px;
}

header h1 {
	font-size: 72px;
	font-weight: 300;
	margin: 0;
	color: #9768b9;
}

header h1 small {
	font-size: 16px;
	font-weight: 500;
}

header > small {
	color: #aaa;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	margin-left: 50px;
}

header small .latin {
	font-weight: 700;
}

header p {
	color: #666;
	font-size: 20px;
	margin-left: 50px;
}

nav {
	padding: 0 10px;
	border-radius: 10px;
	background: rgba(151,104,185,0.15);
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0;
	padding: 15px 0;
}

nav li {
	padding: 0 30px;
}

nav a {
	color: #9768b9;
}

@media (max-width: 799px) {
	nav {
		margin: 0 25px;
	}

	nav ul {
		justify-content: space-around;
	}
}

@media (min-width: 800px) {
	nav {
		position: absolute;
		top: 30px;
		right: 50px;
	}

	nav a {
	}
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 100px;
}

main section {
	width: 100%;
}

@media (max-width: 600px) {
	header {
		padding: 25px;
	}

	header small,
	header p {
		margin-left: 25px;
	}

	main {
		padding: 0 25px;
	}

	pre {
		font-size: 12px;
	}
}

@media (min-width: 800px) {
	pre[class*='language-'] {
		margin-top: 50px !important;
		margin-bottom: 50px !important;
	}
}

@media (max-width: 1399px) {
	main section {
		margin-top: 50px;
	}
}

@media (min-width: 1400px) {
	main section {
		width: calc(100% / 2);
	}

	main section:not(:last-of-type) {
		padding-right: 50px;
	}

	main section:not(:first-of-type) {
		padding-left: 50px;
	}
}

main section h2 {
	font-weight: 500;
}

main section > :not(h2) {
	margin-left: 25px !important;
}

pre[class*='language-'] {
	border: 1px #ddd solid;
}

pre.inline {
	display: inline-block;
	padding: 0.5em !important;
}

p code,
dd code {
	color: #0077aa;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

dl {
	/*  */
}

dl dt {
	margin-top: 25px;
}

dl dd {
	color: #444;
	font-size: 14px;
	margin: 10px 0 0 25px;
}

footer {
	text-align: center;
	margin: 200px 0 25px;
}

footer p {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
